.LoginPanel {
    text-align: center;
    border: 1px #000 solid;
    width: 50%;
    margin: 5% auto;
}

.LoginPanel__systems {
    padding: 50px 0;
}

.LoginPanel__system {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.LoginPanel__system img {
    width: 50px;
    height: 50px;
}

.Social__friends {
    margin: 50px;
}

nav .brand-logo {
    display: flex;

}

nav .brand-logo img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

nav .brand-logo span {
    margin: auto 0;
}