@layout(title = "Home", styles = Seq("index.css")) {
    <div class="LoginPanel">
        <h3>VIDEQ:RELS - Social Login</h3>
        <div class="LoginPanel__systems">
            @*<a class="LoginPanel__system" href="/oauth/auth/linkedin"><img src="/images/linkedin.png" alt="linkedin"/></a>*@
            <a class="LoginPanel__system" href="/oauth/auth/facebook"><img src="/images/facebook.png" alt="facebook"/></a>
            <a class="LoginPanel__system" href="/oauth/auth/instagram"><img src="/images/instagram.png" alt="instagram"/></a>
        </div>
    </div>
}