@import services.RelationshipValueEstimator.Score
@(person: MaterializedEntity[Person], attributes: Seq[PersonAttribute], score: Score)
<tr>
    <td>
        @(
            attributes.find(attr => attr.tpe == PersonAttributeType.Photo).map( photo =>
                Html("<img src=\"" + photo.value.asInstanceOf[PersonAttributeValue.Photo].value + "\"/>")
            ).getOrElse(Html("No photo available"))
        )
    </td>
    <td>
        @(
            attributes.find(attr =>
                attr.tpe == PersonAttributeType.Text && attr.value.asInstanceOf[PersonAttributeValue.Text].name == PersonProfileField.Name.asString
            )
            .map(_.value.asInstanceOf[PersonAttributeValue.Text].value)
        )
    </td>
    <td>@(score.totalValue)</td>
</tr>