@import services.RelationshipValueEstimator
@(user: MaterializedEntity[User], applicationId: String, person: MaterializedEntity[Person],
        personAttributes: Seq[PersonAttribute],
        relations: Seq[(MaterializedEntity[Person], Seq[PersonAttribute],  RelationshipValueEstimator.Score)])

@layout(title = "Home", styles = Seq("index.css")) {
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                @(personAttributes.find(_.tpe == PersonAttributeType.Photo).map(photo =>
                    Html("<img src=\"" + photo.value.asInstanceOf[PersonAttributeValue.Photo].value + "\"/>")
                ))

                <span>
                    @(personAttributes.find(attr =>
                        attr.tpe == PersonAttributeType.Text && attr.value.asInstanceOf[PersonAttributeValue.Text].name == PersonProfileField.Name.asString
                    ).map(v => v.value.asInstanceOf[PersonAttributeValue.Text].value))
                </span>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="@(routes.AppController.logout())" class="waves-effect waves-light btn">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="Social__friends">
        @views.html.social.friends(relations)
    </div>
}