@(title: String, styles: Seq[String] = Seq.empty, scripts: Seq[String] = Seq.empty)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>VIDEQ:RELS - @title</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        @Html(
            scripts.map(script => "<script type=\"text/javascript\" src=\"/scripts/" + script + "\"></script>").mkString("\n")
        )

        @Html(
            styles.map(style => "<link rel=\"stylesheet\" media=\"all\" href=\"/stylesheet/" + style + "\"/>").mkString("\n")
        )
    </head>
    <body>
        <section class="content">@content</section>
    </body>
</html>